BODY,TD,input,DIV,form,TEXTAREA,center,pre,blockquote {font-size:9pt;font-family:gulim;color:#909090}

A:link    {color:#b9b9b9;text-decoration:none;}
A:visited {color:#b5b5b5;text-decoration:none;}
A:active  {color:#b9b9b9;text-decoration:none;}
A:hover  {color:#b5b5b5;text-decoration:none;}

.textarea {border:1px solid #303030;font-size:9pt;color:#eaeaea;background-color:#454545;padding:3px;line-height:160%}
.input    {border:1px solid #303030;font-size:9pt;color:#eaeaea;background-color:#505050;height:22px;line-height:22px}
.input2   {border:1px solid #353535;font-size:9pt;color:#eaeaea;background-color:#575757;height:22px;line-height:22px}
.file	  {border:1px solid #353535;font-size:9pt;color:#eaeaea;background-color:#575757;height:22px;line-height:22px}
.submit   {border:1px solid #303030;font-size:9pt;color:#a0a0a0;background-color:#454545;height:22px;line-height:22px}
.submit_w {border:1px solid #303030;font-size:9pt;color:#b5b5b5;background-color:#454545;height:40px}
.submit_c {border:1px solid #303030;font-size:9pt;color:#bfbfbf;background-color:#454545;height:22px}
.button   {border:1px solid #303030;font-size:9pt;color:#a0a0a0;background-color:#454545;height:24px}
.inbox    {border:1px solid #333333;background-color:#666666;width:100%;height:20px;padding:0;spacing:0}

.lined {background-color:#494949; border-top:1px solid #353535;height:1px;}
.line1 {background-color:#494949; padding:0}
.line2 {background-color:#353535; padding:0}
.separator1 {background-color:#494949; padding:0}
.separator2 {background-color:#373737; padding:0}

.mmp {font-family:tahoma;color:#b5b5b5;font-size:11px;text-decoration:none}
.bt  {font-family:tahoma;color:#656565;font-size:10px;text-decoration:none}

.pic_bg {background-color:#3e3e3e}
.pic_border {border:1px solid #000}

.thumb_area_bg {background-color:#3e3e3e}
.thumb_border  {border:1px solid #101010}

.exif_bg {background-color:#414141;font-family:verdana;font-size:7pt}
.exif_spacer {color:#828282}

.info_bg {background-color:#3e3e3e;font-size:9pt}
.han  {color:#bfbfbf;font-size:9pt;text-decoration:none}
.han2 {color:#eaeaea;font-size:9pt;text-decoration:none}
.eng  {font-family:tahoma;color:#bfbfbf;font-size:8pt;text-decoration:none}

.thumb_list_title {color:#b5b5b5;font-size:11px;text-decoration:none;font-family:dotum,'돋움'}
.thumb_list_name  {color:#c5c5c5;font-size:11px;text-decoration:none;font-family:dotum,'돋움'}
.thumb_list_cate  {color:#b5b5b5;font-size:11px;text-decoration:none;font-family:dotum,'돋움'}
.thumb_list_eng   {color:#b5b5b5;font-size:11px;text-decoration:none;font-family:dotum,'돋움'}
.view_title  {color:#bfbfbf;font-size:12pt;font-weight:bold;text-decoration:none;font-family:gulim,'굴림';line-height:100%}
.view_title2 {color:#bfbfbf;font-size:10pt;font-weight:bold;text-decoration:none;font-family:gulim,'굴림'}
.view_name   {color:#c5c5c5;font-size:9pt;text-decoration:none;font-family:gulim,'굴림'}
.view_cate   {color:#b5b5b5;font-size:9pt;text-decoration:none;font-family:gulim,'굴림'}
.wArticle    {color:#cfcfcf;font-size:12pt;font-weight:bold;text-decoration:none;font-family:gulim,'굴림';line-height:100%}

.ce_bg		 {background-color:#404040; border:1px solid #202020}

.imageToolbox {
	position: absolute;
	width:  34px;
	height: 34px;
	left: 10px;
	top:  10px;
	display:none;
	z-index:1;
}
.imageToolbox img {	cursor:pointer }

.list_comment  {color:#b5b5b5;border:1px solid #525252;font-size:8pt;font-family:tahoma; padding:0 3px 0 3px}
.list_comment2 {color:#d0d0d0;background-color:#494949;font-size:8pt;font-family:tahoma; padding:0 3px 0 3px;font-weight:bold}

blockquote { border:#4f4f4f 1px solid; margin: 10px 20px 10px 20px; padding:5px; color:#bfbfbf; background-color: #434343; }
code  {border: #4f4f4f 1px dashed; padding: 1px 5px 3px 5px; color: #bfbfbf; font-family: 'Courier New' , Monospace; background-color: #434343; margin:3px}
.code {border: #4f4f4f 1px dashed; padding: 1px 5px 3px 5px; color: #bfbfbf; font-family: 'Courier New' , Monospace; background-color: #434343; margin:3px}

#search_options_tool {width:115px; float:right; margin-right:5px; height:21px; padding-top:9px; display:none}
#search_options_tool img {margin-right:5px; cursor:pointer}
#search_btTools {float:right; height:30px; width:189px; margin-right:3px}
#search_btTools div {float:left; margin-top:3px; margin-bottom:3px}
#search_btArrow {width:15px; height:24px; margin-left:3px; cursor:pointer}
#search_input   {width:114px; height:24px; background-image:url(search_input.gif); background-repeat:repeat-x}
#search_intext  {width:100%; height:16px; margin-top:3px; margin-left:2px; border:0; background-color:#4f4f4f; color:#c0c0c0}

.descipt_counter { font-family:sans-serif; font-size:15pt; color:#808080; margin:0 5px 0 5px}

.slide_thumb_img      { margin:1px; border:3px solid #353535; float:left; cursor:pointer }
.slide_thumb_img_over { margin:1px; border:3px solid #909090; float:left; cursor:pointer }
