BODY,TD,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt;color:000000;font-family:굴림}

TD {line-height:140%}

SELECT {font-size:9pt;color:000000;}

body{
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color: #aaaaaa;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #aaaaaa;
}

A:link    {color:000000;text-decoration:none;}
A:visited {color:000000;text-decoration:none;}
A:active  {color:000000;text-decoration:none;}
A:hover  {color:444444;text-decoration:none;}

.view_title1 {font-family:verdana;font-size:8pt;font-weight:bold;color:#888888}
.view_title2 {font-family:Arial;font-size:19px;letter-spacing:-1px;font-weight:bold;color=#eeeeee}

.zv3_writetitle {border:solid 1;border-color:888888;background-color:bbbbbb;}
.zv3_writeform {border:solid 1;border-color:999999;background-color:dddddd;}

.zv3_input {border:solid 1;border-color:888888;background-color:f3f3f3;height:17px}
.input {font-family:굴림;border:solid 1;border-color:888888;background-color:f3f3f3;height:17px}
.zv3_w_textarea {border:solid 1;border-color:888888;background-color:efefef;width:100%;}

.zv3_normal {font-size:9pt}
.zv3_small {font-size:8pt}
.zv3_comment {font-family:tahoma;font-size:6pt;}

.zv3_header {background-color:fefefe}
.zv3_inbox {border:solid 1;border-color:333333;background-color:666666;width:100%;height:20px;padding:0;spacing:0;}

.zv3_listBox {font-size:9pt;border:solid 0;background-color:white;}
.zv3_liner {background-color:efefef;}
.zv3_footer {background-color:666666;}

.zv3_viewform {border:solid 1;border-color:999999;background-color:dddddd}
.zv3_viewbox {border:0;background-color:white;}

.zv3_search {border:solid 1;border-color:444444;height:17px;width:80px;color:666666;}

.zv3_textarea {border:solid 1;border-color:777777;background-color:white;width:100%;}
.zv3_submit {border:solid 1;border-color:777777;background-color:white;width:100%;height:100%}
