BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt; font-family:±¼¸²; color:#8D2A23;line-height:150%}

A:link    {color:#671921;text-decoration:none;}
A:visited {color:#671921;text-decoration:none;}
A:active  {color:#cc0000;text-decoration:none;}
A:hover  {color;#671921;text-decoration:none;}

.head {border:solid 1 black;font-family:±¼¸²;font-size:9pt;color:black;background-color:white;height:19px}
.textarea {border:solid 1 #962531; font-family:±¼¸²;font-size:9pt;color:black;background-color:white}
.input{border:solid 1 #962531;font-family:±¼¸²;font-size:9pt;color:black;background-color:white;height:19px}
.submit {border:solid 1;font-family:±¼¸²;font-size:9pt;color:white;background-color:black;height:19px}
.thm8 {font-family:Tahoma;font-size:8pt;}
