BODY,TD,input,DIV,form,TEXTAREA,center,pre,blockquote {font-size:9pt;font-family:굴림;color:#000000}

select,option {font-size:9pt;font-family:tahoma;color:#333333;background-color:white}

TD {line-height:140%}

/*
body{overflow:auto;}
*/

A:link    {color:#666666;text-decoration:none;}
A:visited {color:#666666;text-decoration:none;}
A:active  {color:#666666;text-decoration:none;}
A:hover  {color:#666666;text-decoration:none;}

.textarea {border:solid 1;border-color:#cccccc;font-size:9pt;color:#252525;background-color:white;}
.input {border:solid 1;border-color:#929292;font-size:9pt;color:#252525;background-color:white;height:21px}
.input2 {border:solid 1;border-color:#c9c9c9;font-size:9pt;color:#252525;background-color:white;height:21px}
.submit_c {border:solid 1;border-color:#cccccc;font-size:9pt;color:#999999;background-color:#dadada}
.submit {border:solid 1;border-color:#555555;font-size:9pt;color:white;background-color:#707070;height:21px}
.button {border:solid 1;border-color:#555555;font-size:9pt;color:white;background-color:#707070;height:21px}
.inbox {border:solid 1;border-color:#333333;background-color:#666666;width:100%;height:20px;padding:0;spacing:0;}

.thm7pt {font-family:tahoma;font-size:7pt}

.ment {border:1 solid; border-color:#e7e7e7; background-color:#fafafa; font-size:9pt; table-layout:fixed}
.ment_text {color:#666666;font-size:9pt;line-height:140%;padding:10px;}

.line1 {background-color:#efefef; padding:0}
.line2 {background-color:#e1e1e1; padding:0}
.line3 {background-color:#b1b1b1; padding:0}

.list0 {background-color:#f1f1f1; font-size:9pt;}
.list1 {background-color:#fbfbfb; font-size:9pt;}
.list2 {background-color:#eaeaea; font-size:9pt;}

.pic_bg {background-color:#fefefe; font-size:9pt;}
.pic_border {border:0px solid #white;}
.thumb_area_bg {background-color:#white; font-size:9pt; line-height:120%;}
.thumb_area_margin {background-color:#white; padding-left:30;padding-top:15;padding-right:15;}
.thumb_border {border:1px solid #151515;}
.exif_bg {background-color:#f9f9f9; padding:0}

.c0 {background-color:#f5f5f5; font-size:9pt;}
.c1 {background-color:#fbfbfb; font-size:9pt;}

.w1 {background-color:#f1f1f1; font-size:9pt;}
.w2 {background-color:#eaeaea; font-size:9pt;}

.thumb_bg {background-color:white;font-size:9pt}
.thumb_han {color:#727272;font-size:9pt;text-decoration:none}
.thumb_han2 {color:#363636;font-size:9pt;text-decoration:none}
.thumb_han3 {color:#a6a6a6;font-size:9pt;text-decoration:none}
.thumb_eng {font-family:tahoma;color:#666666;font-size:8pt;text-decoration:none}
.thumb_name {font-family:tahoma;color:#888888;font-size:8pt;text-decoration:none}
