@font-face {font-family:웹정; src:url(http://joeyw.cafe24.com/font/JUNG0.eot);}
BODY,TD,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt;color:000000;font-family:웹정}
TD {line-height:140%}
SELECT {font-size:9pt;color:000000;}

body{
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color: #aaaaaa;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #aaaaaa;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #aaaaaa;
}

A:link    {color:000000;text-decoration:none;}
A:visited {color:000000;text-decoration:none;}
A:active  {color:000000;text-decoration:none;}
A:hover  {color:444444;text-decoration:none;}

.zv3_writetitle {border:solid 1;border-color:888888;background-color:bbbbbb;}
.zv3_writeform {border:solid 1;border-color:cccccc;background-color:f7f7f7;}
.robin_writeform {border:solid 1;border-color:cccccc;background-color:f7f7f7;}

.zv3_input {border:solid 1;border-color:999999;background-color:FDFDFD;height:17px}
.robin_input {border:solid 1;border-color:999999;background-color:FDFDFD;height:17px}
.input {font-family:웹정;border:solid 1;border-color:999999;background-color:FDFDFD;height:17px}
.robin_w_textarea {border:solid 1;border-color:999999;background-color:FDFDFD;width:100%;}

.zv3_normal {font-size:9pt}
.zv3_small {font-size:9pt}
.zv3_comment {font-웹정:tahoma;font-size:6pt;}

.zv3_header {background-color:fefefe}
.zv3_inbox {border:solid 1;border-color:333333;background-color:666666;width:100%;height:20px;padding:0;spacing:0;}

.zv3_listBox {font-size:9pt;border:solid 0;background-color:white;}
.zv3_liner {background-color:efefef;}
.robin_footer {background-color:c2c2c2;}

.zv3_viewform {border:solid 1;border-color:999999;background-color:dddddd}
.robin_viewform {border:solid 1;border-color:cccccc;background-color:eeeeee}
.zv3_viewbox {border:0;background-color:white;}

.zv3_search {border:solid 1;border-color:444444;height:17px;width:80px;color:666666;}

.robin_textarea {border:solid 1;border-color:cccccc;background-color:white;width:100%;}
.robin_submit {border:solid 1;border-color:cccccc;background-color:white;width:100%;height:100%}
