form{margin:0; padding:0;}
img {border:0;}

/* setup.php 관련 시작 */
.xe_setup {table-layout: fixed; border:0}
.xe_setupTt_L {background-color:#fff; height:45px; font:bold 14px 굴림; color:#000; padding:10px 0 6px 15px; border-top:1px solid #eee; border-bottom:3px solid #FE3614; border-left:1px solid #eee;}
.xe_setupTt_R {background:white url('images/lineBoardListTh.gif') 0 14px no-repeat; font:12px 굴림; color:#666; padding:5px 0 6px 10px; border-top:1px solid #eee;  border-right:1px solid #eee; border-bottom:3px solid #54564B;}

.xe_setup_total {height:38px; font:12px 굴림; color:#666; padding:18px 0 6px 10px}
.xe_setup_total_ic {width:12px; height:13px; vertical-align:middle; margin-right:5px; cursor:pointer}

.xe_setup_ct {padding:10px 0 0 0; vertical-align:top; text-align:right}
/* setup.php 관련 끝 */


/* list 시작 */
.xectl{table-layout:fixed; border:1px solid #E0E1DB}

.ctl_title {background:white url('images/lineBoardListTh.gif') 0 2px repeat-x; height:33px; font:12px 굴림; color:#3E3F3E; text-align:center}
.ctl_titleL {background:white url('images/lineBoardListTh.gif') -3px 2px repeat-x;}
.ctl_title_line {background-color:#fff; height:1px;}

.ctl_listN {background-color:#F8F8F8; height:30px}
.ctl_nbN {font:bold 12px 굴림; color:#999; text-align:center; padding-top:3px; border-top:1px solid #EFF0ED}

.ctl_list1 {background-color:#FBFBFB; height:32px}
.ctl_list2 {background-color:#fff; height:32px}

.ctl_nb {font:10px tahoma; color:#999; text-align:center; padding-top:3px; border-top:1px solid #EFF0ED}

.ctl_sj {font:12px 굴림; color:#444; padding:4px 0 0 10px; border-top:1px solid #EFF0ED}
.ctl_sj a:link {font:12px 굴림; color:#444; text-decoration:none;} 
.ctl_sj a:visited {font:12px 굴림; color:#777; text-decoration:none;}
.ctl_sj a:active {font:12px 굴림; color:#444; text-decoration:none;}
.ctl_sj a:hover {font:12px 굴림; color:#444; text-decoration:none;}

.ctl_name {font:12px 굴림; color:#777; padding:4px 0 0 10px; border-top:1px solid #EFF0ED}
.ctl_hit {font:10px tahoma; color:#999; text-align:center; padding-top:3px; border-top:1px solid #EFF0ED}
.ctl_date {font:10px tahoma; color:#999; text-align:center; padding-top:3px; border-top:1px solid #EFF0ED}
.list_com_icon {width:12px; height:12px; margin-top:-2px; margin-right:3px; vertical-align:middle}
.list_com_sp {font:bold 9px tahoma; color:#FF6600}

.list_n_icon {width:13px; height:13px; vertical-align:middle}
.iconReply_sp {font:bold 10px tahoma; color:#FF6600;}
.iconNew {width:13px; height:13px; vertical-align:middle}
/* list 끝 */


/* list_foot 검색 관련 시작 */
.ctl_page {font:bold 10px tahoma; color:#999; text-align:left; padding-top:16px; vertical-align:top}
.list_foot_btn {height:50px; padding:10px 2px 0 0; vertical-align:top}

.xe_search {text-align:center; vertical-align:top; padding:15px 0 0 0}
.xe_searchIp{
	background-color:#FBFBFB; width:150px; height:22px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6; padding:3px 0 0 3px; margin-top:5px; margin-right:2px
}

:root .xe_searchIp{
	background-color:#FBFBFB; width:150px; height:22px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6; padding:3px 0 0 3px; margin-right:2px
}
/* list_foot 검색 관련 끝 */

/* 페이징 시작 */
a.link_move:link,a.link_move:visited,a.link_move:active {font:bold 11px 굴림; color:#333; text-decoration:none; display:block; float:left; padding:3px 6px 1px 6px; border-right:1px solid #ccc}
a.link_move:hover {background-color:#f7f7f7; font:bold 11px 굴림; color:#FF6600; text-decoration:none; border-right:1px solid #ccc}
.moveOn {background-color:#f7f7f7; display:block; float:left; padding:3px 6px 1px 6px; border-right:1px solid #ccc; font:bold 11px 굴림; color:#FF6600}
/* 페이징 끝 */



/* view.php 관련 시작 */
.xe_viewTb {background-color:#fff; border:1px solid #E0E1DB; table-layout: fixed}
.xe_viewSj {font:bold 15px 굴림; color:#000; padding:20px 0 7px 10px; vertical-align:top}
.xe_viewHit {font:12px 굴림; color:#999; padding:15px 5px 7px 0; vertical-align:top}
.xe_viewDate {font:bold 9px tahoma; color:#999;}
.xe_viewMemo {font:12px 굴림; color:#555; padding:10px 10px 30px 10px; vertical-align:top}
.xe_viewName {font:15px 굴림; color:#3074A5; padding:10px; vertical-align:top}
.xe_viewName a {font:11px 굴림; color:#777; text-decoration:none;}
.xe_viewName a:hover {font:11px 굴림; color:#444; text-decoration:none;}

.xe_viewFile_tr {background:white url('images/bgBoardListTh.gif') bottom repeat-x; height:35px; vertical-align:top}
.xe_viewFile {padding:10px 0 0 20px; font:12px 굴림; color:#999; border-top:1px solid #E0E1DB; border-bottom:2px solid #666760}
.xe_viewFile_icon {width:13px; height:12px; vertical-align:middle; margin-top:-2px; margin-right:3px; margin-left:2px;}

.trLine {background-color:#EFF0ED; height:1px}
.xeComment_tb {background-color:#fff; border:1px solid #E0E1DB; table-layout: fixed; margin-top:5px}
.xeFile_div {width:95%; height:auto; background-color:#FBFBFB; font:12px 굴림; color:#999; display:block; overflow:hidden; border:1px solid #EAEAE7; margin-bottom:10px; padding:10px; text-align:left}
.xeFile_div a {font:11px 굴림; color:#777; text-decoration:none;}
.xeFile_div a:hover {font:11px 굴림; color:#444; text-decoration:none;}

.xeCom_btn {padding:1px 5px 0 0; border-top:1px solid #E0E1DB; border-bottom:2px solid #666760; text-align:right}
.xe_member_home {font:11px 굴림; color:#444; padding:10px 5px 0 0; vertical-align:top}
.xe_member_home a {font:11px 굴림; color:#777; text-decoration:none;}
.xe_member_home a:hover {font:11px 굴림; color:#444; text-decoration:none;}
.xe_member_homeIcon {width:16px; height:16px; vertical-align:middle; margin-top:-3px;}

.xeLink_icon {width:12px; height:13px; vertical-align:middle}
/* view.php 관련 끝 */

/* view_comment.php 관련 시작 */
.xeComment_tbc {border:0; table-layout: fixed; margin-top:5px}
.xeComment_name {font:12px 굴림; color:#3074A5; padding:3px 0 0 15px}
.xeComment_date {padding:0 5px 0 0; text-align:right}
.xeComment_dateSp {font:9px tahoma; color:#ccc}
.xeComment_memo {font:12px 굴림; color:#666; line-height:140%; padding:10px 10px 20px 10px; vertical-align:top; border-bottom:1px dotted #eee}
:root .xeComment_memo {font:12px 굴림; color:#666; line-height:140%; padding:10px 10px 20px 10px; vertical-align:top; border-bottom:2px dotted #eee}

.xeComment_del {width:20px; height:17px; vertical-align:middle}
/* view_comment.php 관련 끝 */


/* view_comment_write.php 관련 시작 */
.xe_W_comTb {background-color:#FBFBFB; table-layout: fixed; border:0}
.xe_W_com_guest {font:12px 굴림; color:#333; padding:10px 0 0 20px}
.xe_W_com_guest input {
	background-color:#FBFBFB; width:150px; height:22px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6;
	margin-right:10px; padding:3px 0 0 3px
}
.xe_W_com_write {font:12px 굴림; color:#333; padding:10px}
.xe_W_com_write textarea{
	width:100%; height:150px; font:12px 굴림; color:#333; padding:10px;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6;
	overflow:auto
}
.xe_W_com_writeBtn {font:12px 굴림; color:#333; padding:10px; text-align:right}
/* view_comment_write.php 관련 끝 */


/* 글쓰기 관련 시작 */
.xeWrite_tb {background-color:#fff; table-layout: fixed; border:1px solid #EFF0ED}
.xeWrite_td_L {height:38px; font:bold 12px 굴림; color:#000; padding:3px 0 0 15px; border-bottom:1px solid #EFF0ED}
.xeWrite_td_R {font:12px 굴림; color:#000; border-bottom:1px solid #EFF0ED}

.xeWrite_ip1 {
	background-color:#FBFBFB; width:60%; height:22px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6; padding:3px 0 0 3px; margin-right:2px
}

.xeWrite_ip2 {
	background-color:#FBFBFB; width:30%; height:22px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6; padding:3px 0 0 3px; margin-right:2px
}

.xeWrite_memo {font:12px 굴림; color:#000; border-bottom:1px solid #EFF0ED; padding:10px}
.xeWrite_memoT {
	background-color:#fff; width:100%; height:300px; font:12px 굴림; color:#333;
	border-top:1px solid #A6A6A6;
	border-right:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #A6A6A6; padding:5px; overflow:auto
	}


.xeWrite_bttr {background:white url('images/bgBoardListTh.gif') bottom repeat-x; height:38px; vertical-align:top}
.xeWrite_bttr_L {padding:3px 0 0 5px; border-bottom:2px solid #666760}
.xeWrite_bttr_R {padding:3px 5px 0 0; text-align:right; border-bottom:2px solid #666760}
/* 글쓰기 관련 끝 */




/* XE style 버튼 시작 */
a.button, span.button, del.button{
	display:-moz-inline-box;
	display:inline-block;
	cursor:pointer;
	border:none;
    font-size:0;
    line-height:0;
    
	/*
	for Safari, read this first
	http://creativebits.org/webdev/safari_background_repeat_bug_fix
	*/
	background-position:0 0;
	background-repeat:no-repeat;
	height:30px;
	text-decoration:none;
	color:#2e523b;
	font-style:normal;
	margin:0 6px 0px 0;
	padding:0 10px 0 0;	
	vertical-align:middle;	
    padding-top:-2px;
	_position:relative;
	_width:10px;	
	_overflow-y:hidden;
}

a.button, span.button, del.button,
a.button span, span.button button, span.button input, del.button span{
    background-image:url('images/form_buttons.gif');
}

a.button span, span.button button, span.button input, del.button span{
	white-space:nowrap;
	cursor:pointer;
    color:#222;
	display:-moz-inline-box;
	display:inline-block;
	line-height:1;
    letter-spacing:0 !important;
    font-family:"굴림" !important;
    font-size:12px !important;
    font-style:normal;    
    background-color:transparent;
	background-position:100% 0;
	background-repeat:no-repeat;
	height:30px;
	padding:10px 20px 0 10px;
	margin:0 -16px 0 10px;
	border:none;
	vertical-align:text-top;
	zoom:1;
	_position:relative;
    _padding-left:0px;
	_padding-right:12px;
	_margin-right:-10px;	
	_display:block;
	_top:0;
	_right:-5px;
}
span.button button{    line-height:2.5;/*Opera need this*/ }
html.safari a.button span, html.safari del.button span{   line-height:1.3; }
html.safari span.button button{   line-height:2.6; }
html.safari a.button:focus, html.safari span.button button:focus{     outline:none; }
del.button{ 	/* cursor:not-allowed;	*/ 	background-position:0 -120px; 	}
del.button span{ 	cursor:default;     color:#aaa !important; 	background-position:100% -120px; }
span.button button, span.button input{ 	padding-top:0px; 	line-height:2.5;/*Opera need this*/ }

/** optional **/
/*
a.button:visited{
	color:#aaa;
}
*/

/*Hover Style*/
a.button:hover, span.button:hover, a.button:focus, 
a.dom-button-focus, span.button-behavior-hover{ 	background-position:0 -60px; 	color:#222; 	text-decoration:none; }
a.button:hover span, 
span.button:hover button, 
a.button:focus span, 
span.button-behavior-hover button, 
span.button-behavior-hover input{
	background-position:100% -60px;
}

a.button:active, a.button:focus span{ 	color:#444; }
del.button-behavior-hover, del.button:hover{ 	background-position:0 -180px; 	/* cursor:not-allowed; */ }
del.button-behavior-hover span, del.button:hover span{ 	background-position:100% -180px; 	/* cursor:not-allowed; */ 	}


/*Optional hack for IE6 to simulate :hover selector*/
span.button button, del.button span, span.button input{
	_behavior:expression(
		(function(el){

			if( typeof( behavior_onMouseEnter) == 'undefined'){

				
				behavior_onMouseEnter = function(el){
					
					var dEl = this.parentNode;					
					var sClass = dEl.className ;
					dEl.__defaultClassName = sClass ;
					dEl.className = sClass + ' button-behavior-hover';	
					this.setCapture();
				};

				behavior_onMouseLeave = function(el) {
					var dEl = this.parentNode;
					dEl.className = dEl.__defaultClassName ;
					dEl.__defaultClassName = undefined;
					this.releaseCapture();
				};


			};
			
			
			el.runtimeStyle.behavior = 'none';
			el.onmouseenter = behavior_onMouseEnter;
			el.onmouseleave = behavior_onMouseLeave;
			
			
		})(this));
}
/* XE style 버튼 끝 */
